html, body 
{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    color:lightgray;
    font-size: 100%;
    font-family: Gill Sans, sans-serif;
    font-weight: bold;
    overflow: hidden;
    background-image: url("../img/beer.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: 35%;
}

.fridge {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border: solid 5px black;
    border-style: dashed double dashed;
    background-color: white;
}

.magnet {
    position: absolute;
    cursor: grab;
    padding: 3px;
    font-size: 0.75rem;
    color: black;
    border: solid 1px rgb(204, 184, 0);
    background-color: white;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.magnet:hover {
    background-color:  rgb(250, 214, 55);
}
